@font-face {
    font-family: 'Geologica';
    src: url('project1\Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

body{
    background: #000000;
    margin: 0px;
    padding: 0px;
    font-family: 'Geologica', sans-serif;
}

.head{
    display: flex;
    background: #121212;
    height: 65px;
}

.foot{
    display: flex;
    background: #121212;
    height: 75px;
    margin-top: 7px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    gap: 7px;
}

.frame-1{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background: #121212;
    height: 715px;
    width: 230px;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 5px;
    row-gap: 3px;
}

.frame-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121212;
    height: 715px;
    width: 195px;
    border-radius: 10px;
    margin-right: 5px;
    row-gap: 20px;

}

.frame-main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    height: 715px;
    width: 1090px;
    border-radius: 10px;
}

.media-library{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    display: hidden;
    max-height: 605px;
    width: 222px;
    background: #000000;
    border-radius: 5px;
    row-gap: 5px;
}

.media-library::-webkit-scrollbar {
    display: none;
}

.buttons-div{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 222px;
    border-radius: 10px;
}

.buttons-div-head{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 222px;
    border-radius: 10px;
    margin-top: 3px;
}

.buttons-div-main{
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 222px;
    border-radius: 10px;
    margin-top: 7px;
}

.buttons-div-foot{
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 222px;
    border-radius: 10px;
    margin-top: 7px;
}

.media-library-image{
    display: flex;
    height: 30px;
    width: 30px;
    background: #D9D9D9;
    border-radius: 10px;
}

.media-library-text{
    display: flex;
    font-size: 17px;
    color: #D9D9D9;
    margin-top: 5px;
    margin-left: 3px;
    white-space: nowrap;
}

.add-button{
    display: flex;
    font-size: 18px;
    height: 30px;
    width: 30px;
    background: #D9D9D9;
    border-radius: 100%;
    margin-left: 32px;
}

.arrow-button{
    display: flex;
    font-size: 18px;
    height: 30px;
    width: 30px;
    background: #D9D9D9;
    border-radius: 100%;
    margin-left: 6px;
}

.two-buttons{
    display: flex;
    flex-direction: row;
}

.media-library-logo{
    display: flex;
    flex-direction: row;
}

.buttons-row{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 196px;
    /* color: #D9D9D9; */
    gap: 7px;
}

.category-button{
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #232323;
    color: #D9D9D9;
    border-radius: 30px;
    font-size: 15px;
    padding: 7px;
}

.more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background: #D9D9D9;
    border-radius: 100%;
    font-size: 15px;
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    color: #D9D9D9;
    font-size: 18px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.sort-div{
    display: flex;
    flex-direction: row;
    padding-left: 118px;
    gap: 7px;
}

.sort-text{
    display: flex;
    font-size: 17px;
    color: #D9D9D9;
    margin-top: 2px;
    white-space: nowrap;
}

.sort-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    color: #D9D9D9;
    font-size: 18px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.media-div{
    display: flex;
    flex-direction: row;
    background: #232323;
    height: 55px;
    width: 222px;
    border-radius: 5px;
    flex-shrink: 0;
}

.album-img{
    display: flex;
    background: #D9D9D9;
    height: 49px;
    width: 49px;
    border-radius: 5px;
    margin: 3px;
    margin-left: 4px;
}

.song-img{
    display: flex;
    background: #D9D9D9;
    height: 49px;
    width: 49px;
    border-radius: 100%;
    margin: 3px;
    margin-left: 4px;
}

.song-info{
    display: flex;
    flex-direction: column;
    height: 49px;
    margin-top: 3px;
}

.main-info{
    display: flex;
    font-size: 15px;
    color: #D9D9D9;
    white-space: nowrap;
}

.other-info{
    display: flex;
    font-size: 10px;
    color: #AEAEAE;
    white-space: nowrap;
}

.song-card{
    display: flex;
    background: #232323;
    height: 340px;
    width: 195px;
    border-radius: 10px;
}

.daily-mix-text{
    display: flex;
    position: absolute;
    font-size: 17px;
    color: #D9D9D9;
    margin-right: 72px;
    margin-top: 5px;
}

.artist-add{
    display: flex;
    position: absolute;
    flex-direction: row;
    margin-top: 285px;
    gap: 25px;
}

.info-div{
    display: flex;
    flex-direction: column;
}

.song-name{
    display: flex;
    font-size: 22px;
    color: #D9D9D9;
    white-space: nowrap;
}

.song-artist{
    display: flex;
    font-size: 18px;
    color: #AEAEAE;
    white-space: nowrap;
}

.control-div{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-top: 12px; 
}

.minus-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    height: 13px;
    width: 13px;
    background: #d9d9d900;
    border-radius: 100%;
    border: #D9D9D9 solid 2.5px;
    font-size: 15px;
}

.plus-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    height: 13px;
    width: 13px;
    background: #d9d9d900;
    border-radius: 100%;
    border: #D9D9D9 solid 2.5px;
    font-size: 15px;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #232323;
    height: 345px;
    width: 170px;
    border-radius: 10px;
}

.artist-img{
    display: flex;
    background: #AEAEAE;
    height: 150px;
    width: 170px;
    border-radius: 10px 10px 0 0;
}

.about-artist-text{
    display: flex;
    position: absolute;
    font-size: 18px;
    color: #D9D9D9;
    margin-right: 55px;
    margin-top: 7px;
}

.about-artist-card{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
}

.artist-name{
    display: flex;
    font-size: 18px;
    color: #D9D9D9;
    white-space: nowrap;
}

.subscribe-listerners{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.listerners-text{
    display: flex;
    font-size: 14px;
    color: #AEAEAE;
}

.subscribe-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    height: 25px;
    background: #d9d9d900;
    border-radius: 30px;
    border: #D9D9D9 solid 2.5px;
    font-size: 14px;
    padding: 3px;
    margin-right: 7px;
}

.important-info{
    display: flex;
    text-align: left;
    font-size: 14px;
    width: 150px;
    color: #AEAEAE;
    margin-top: 10px;
}
/* написати класи для song-info / main-info / other-info  | ✓  */
/* дописати media-library та почати писати frame-2  | -  */
/* почати писати в script.js  | ✖  */
